body {
  color: white !important;
  background-color: black !important;
}

.lien {
  color: #ff8fc3 !important;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.accueil {
  display: flex;
  margin: 50px 40px 50px 40px;
  align-items: center;
}

.imgAccueil {
  max-width: 100%;
  border-radius: 15px;
}

.texteAccueil {
  margin-right: 95px;
}

.boutonConnexion{
  --bs-btn-color: #fff;
  --bs-btn-bg: #f56cab !important;
  --bs-btn-border-color: #f56cab !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fb499c !important;
  --bs-btn-hover-border-color: #fb499c !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fb499c !important;
  --bs-btn-active-border-color: #fb499c !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fb499c !important;
  --bs-btn-disabled-border-color: #fb499c !important;
}

.navbarDash {
  border-radius: 10px;
}

.dashboard {
  max-width: 96%;
  margin: auto;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
}

.navbar-margin {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 150px 40px 0px 40px;
}

.pagesLegales{
  margin: 30px 40px 0px 40px;
}
